<h4>Internal Server Error - refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-weight-bold">Note if u r seeing this then angular is not to blame</p>
  <p>what to do next?</p>
  <ol>
    <li>
      open edge dev tools , then check the failing request in the network tab
    </li>
    <li>
      examine the request URL - what api endpoint are u requesting?
    </li>
    <li>Reproduce the problem in Postman - if we get the same error angular is 100% not the problem</li>
  </ol>
  <p style="font-weight:bold"> following is the stack trace - the first few lines will tell u what happened</p>
  <code class="mt-5" style="background-color:whitesmoke">{{error.details}}</code>
</ng-container>
